<div id="page4">

	<div class="user-wall">
		<div class="blur"></div>
		<div class="user-pic"></div>
		<div class="two-d-code"><p>></p></div>
		<div class="bottom"></div>
	</div>
	<div class="user-page-list">
		<ul class="ul-group">
			<li class="li-item"><a href="http://www.baidu.com">我是代言人</a></li>
			<li class="li-item"><a href="../../submit.html">我的订单</a></li>
			<li class="li-item"><a href="http://www.baidu.com">我的优惠券</a></li>
			<li class="li-item"><a href="../../myaccount.html">我的账户</a></li>
			<li class="li-item"><a href="http://www.baidu.com">玩乐商城</a></li>
			<li class="li-item" id="tucao"><a href="#user">我要吐槽</a></li>
		</ul>
	</div>
	<div id="tucao-mask">
		<div class="tucao-content">
			<div id="text-area">
				<textarea placeholder="你想吐槽点什么？请输入"></textarea>
			</div>
			<div id="contect-text">
				<input type="text" placeholder="怎么联系您？">
			</div>
			<div id="buttons">
				<div class="mybtn cancle-btn">取消</div>
				<div class="mybtn sub-btn">提交</div>
			</div>
		</div>
	</div>
</div>