<div id="page2">
	<div class="container-fluid eden-container" id="nav-bar">
		<div class="col-xs-4 nav-item"><p href="#">分类</p></div>
		<div class="mask classify-mask">
			<div class="mask-item classify">
				<p>全城</p>
				<p>东城区</p>
				<p>西城区</p>
				<p>崇文区</p>
				<p>宣武区</p>
				<p>朝阳区</p>
				<p>丰台区</p>
				<p>石景山区</p>
				<p>海淀区</p>
				<p>门头沟区</p>
				<p>房山区</p>
				<p>通州区</p>
			</div>
		</div>

		<div class="col-xs-4 nav-item"><p href="#">全城</p></div>
		<div class="mask all-city-mask">
			<div class="mask-item all-city">
				<p>全城</p>
				<p>东城区</p>
				<p>西城区</p>
				<p>崇文区</p>
				<p>宣武区</p>
				<p>朝阳区</p>
				<p>丰台区</p>
				<p>石景山区</p>
				<p>海淀区</p>
				<p>门头沟区</p>
				<p>房山区</p>
				<p>通州区</p>
				<p>顺义区</p>
				<p>昌平区</p>
				<p>大兴区</p>
				<p>怀柔区</p>
				<p>平谷区</p>
				<p>密云县</p>
				<p>延庆县</p>
			</div>
		</div>	

		<div class="col-xs-4 nav-item"><p href="#">排序</p></div>
		<div class="mask order-mask">
			<div class="mask-item order"></div>
		</div>
	
		
		
	</div>

	<div id="eden-list">
		<ul class="eden-ul">

		</ul>
	</div>
	


</div>