<div id="page2">
	<div class="eden-container container">
		<div class="row"  id="nav-bar">
			<div class="col-xs-4 nav-item"><p>分类</p></div>
			<div class="col-xs-4 nav-item"><p>全城</p></div>
			<div class="col-xs-4 nav-item"><p>排序</p></div>
		</div>
		
		<div class="mask classify-mask">
			<div class="row row-item" indexnum = "0">
				<div class="col-xs-4 in-item">全部分类</div>
				<div class="col-xs-4 in-item">密室</div>
				<div class="col-xs-4 in-item">沙地</div>
				<div class="col-xs-4 in-item">淘气堡</div>
				<div class="col-xs-4 in-item">蹦极</div>
				<div class="col-xs-4 in-item">亲水</div>
				<div class="col-xs-4 in-item">攀爬</div>
				<div class="col-xs-4 in-item">电动</div>
				<div class="col-xs-4 in-item">设施</div>
			</div>
		</div>

		<div class="mask all-city-mask">
			<div class="row row-item" indexnum = "1">
				<div class="col-xs-4 in-item">全城</div>
				<div class="col-xs-4 in-item">东城区</div>
				<div class="col-xs-4 in-item">西城区</div>
				<div class="col-xs-4 in-item">崇文区</div>
				<div class="col-xs-4 in-item">宣武区</div>
				<div class="col-xs-4 in-item">朝阳区</div>
				<div class="col-xs-4 in-item">丰台区</div>
				<div class="col-xs-4 in-item">石景山区</div>
				<div class="col-xs-4 in-item">海淀区</div>
				<div class="col-xs-4 in-item">门头沟区</div>
				<div class="col-xs-4 in-item">房山区</div>
				<div class="col-xs-4 in-item">通州区</div>
				<div class="col-xs-4 in-item">顺义区</div>
				<div class="col-xs-4 in-item">昌平区</div>
				<div class="col-xs-4 in-item">大兴区</div>
				<div class="col-xs-4 in-item">怀柔区</div>
				<div class="col-xs-4 in-item">平谷区</div>
				<div class="col-xs-4 in-item">密云县</div>
				<div class="col-xs-4 in-item">延庆县</div>
			</div>
		</div>	

		<div class="mask order-mask">
			<div class="row row-item" indexnum = "2">
				<div class="col-xs-4 in-item">默认排序</div>
				<div class="col-xs-4 in-item">离我最近</div>
				<div class="col-xs-4 in-item">销量最高</div>
				<div class="col-xs-4 in-item">销量最低</div>
			</div>
		</div>
	</div>


	<!-- 图片列表部分 -->
	<div id="eden-list">
		<ul class="eden-ul">
		
		</ul>
	</div>
	


</div>