#page2{
	width: 100%;
	height: 100%;
	position: relative;
}
.eden-container{
	position: fixed;
	top: 0;
	z-index: 999;
}
#nav-bar{
	position: fixed;
	width: 100%;
	background: white;
}
.nav-item{
	height: 2.4rem;

	border-bottom: 2px solid white;
}
.nav-item:first-child{
	border-bottom: 2px solid #ec6a6a;
}
.nav-item p{
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	line-height: 2.4rem;
	font-size: 0.75rem;
	color: black;
}


/*蒙版*/
.mask{
	width: 16rem;
	height: 100%;
	position: fixed;
	left: 0;
	top: 2.4rem;
	background: rgba(90,90,90,0.8);
	z-index: 9999;
	display: none;
}
.mask .row{
	margin: 0;
}
.classify-mask{
	/*display: block;*/
}
.row-item{
	background: white;
	border-top: 1px solid #dddddd;
}
.in-item{
	text-align: center;
	height: 2rem;line-height: 2rem;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}



/*图文列表*/
#eden-list{
	margin-top: 2.4rem;
}
.eden-li{
	width: 16rem;
	height: 6.25rem;
	background: green;
	position: relative;
	margin-bottom: 0.4rem;
}
.eden-li img{
	width: 100%;
	height: 100%;
}
.text{
	font-size: 0.7rem;
	width: 100%;
	height: 3.3rem;
	color: white;
	position: absolute;
	padding:0 1rem; 
	bottom: 0;
}
.text .line{
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
}
.left-p{
	float: left;
}
.icon{
	display:inline-block;
	height: 100%;width: 2.75rem;
	background: url(../../img/icon2.png) no-repeat center center;
	background-size:0.6rem; 
}
.right-p{
	float: right;
}


